<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
  table, th, td {
    border: 1px solid #bcbcbc;
  }
  table {
    width: 1000px;
    height: 200px;
  }
  td {
    text-align: center;
  }
</style>
<body>
<div class="container">
  <div>
    <h1>번역 결과</h1>
    <table>
      <thead>
      <tr>
        <th>원본</th>
        <th>결과</th>
        <th>번역된 언어</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td th:text="${translateInfo.name}"></td>
        <td th:text="${translateInfo.english}"></td>
        <td th:text="English"></td>
      </tr>
      <tr>
        <td th:text="${translateInfo.name}"></td>
        <td th:text="${translateInfo.japanese}"></td>
        <td th:text="Japanese"></td>
      </tr>
      <tr>
        <td th:text="${translateInfo.name}"></td>
        <td th:text="${translateInfo.chinese}"></td>
        <td th:text="Chinese"></td>
      </tr>
      <tr>
        <td th:text="${translateInfo.name}"></td>
        <td th:text="${translateInfo.vietnamese}"></td>
        <td th:text="Vietnamese"></td>
      </tr>
      <tr>
        <td th:text="${translateInfo.name}"></td>
        <td th:text="${translateInfo.german}"></td>
        <td th:text="German"></td>
      </tr>
      <tr>
        <td th:text="${translateInfo.name}"></td>
        <td th:text="${translateInfo.french}"></td>
        <td th:text="French"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <a href="/papago">돌아가기</a>
</div> <!-- /container -->
</body>
</html>